# Build
/build
/app/build
*/build/

# Inteligência/IDEA/Android Studio
*.iml
.idea/
.gradle/
local.properties
/.cxx/
captures/
.externalNativeBuild/
.cxx/

# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Log, binário, cache etc
*.log
*.apk
*.ap_
*.db
*.sqlite
*.so
*.d
*.dll
*.class
*.dex
*.jar
*.war

# NDK desconhecido
.cxx/
.externalNativeBuild/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos pessoais/de configuração do usuário
*.swp
*.swo

# Arquivo de ambiente local (NUNCA subir para o GitHub)
local.properties

# Segredos (se usar dotenv, .env)
.env
.env.*
